* {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #4c4c4d;

    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Navigation Bar Syling*/
nav {
    background-color: whitesmoke;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    border: 3px solid #0e0d0d;
    gap: 200px;
    font-style: bold;
}

/*Logo to styling*/
.logo {
    font-size: 50px;
    font-weight: 800;
    color: #000;
}

/*Tagline on the menue*/
.tagline {
    font-weight: bold;
    color: #000;
    font-size: 20px;
    display: flex;
    white-space: nowrap;

}

/*Menu on header styling*/
.menu {
    background-color: whitesmoke;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

}

/*Menu header list styling*/
.menu li {
    background-color: whitesmoke;
    padding: 5px 10px;
}

/*Menu header text styling*/
.menu li a {
    font-size: 20px;
    color: #222222;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px 10px;

}

/*Menu header text hover*/
.menu li a:hover {
    color: #ccc;
}

/*Menu header text active*/
.menu li.active {
    background-color: rgb(148, 148, 148);
}

/*Header socials*/
.header-social {
    display: flex;
    justify-content: right;
    gap: 5px;
    font-size: 28px;

}

/*The first paragraph */
.first-p {
    width: 80%;
    font-family: cursive;
    color: white;

    margin: 50px;
    font-size: 150px;
    text-align: left;
    white-space: nowrap;
}

/*Fist paragraph sub*/
.first-p sub {
    font-size: 28px;
    white-space: nowrap;
}

/*styling the second paragraph*/
.second-p {

    margin-left: 10px;
    font-family: cursive;
    text-align: left;
    color: rgb(112, 112, 112);
    font-size: 60px;
    white-space: nowrap;
}

/*Styling the third paragraph*/
.third-p {
    margin-left: 10px;
    font-family: cursive;
    text-align: left;
    color: rgb(112, 112, 112);
    font-size: 30px;
    white-space: nowrap;

}

/*Styling Virtical line */
.vl {

    color: rgb(112, 112, 112);
    border-left: 10px solid gray;
    height: 230px;
    width: 0px;
    /*! Added */
}

/*Flex container*/
.container {
    font-size: 25px;
    font-family: cursive;
    color: rgb(112, 112, 112);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*! Modified */
    gap: 3%;
}

/*The text after virtical line*/
.vl2 p {
    text-align: left;
    padding: 10px;
    font-style: bold;
    font-size: 30px;

}

/************Dropdown*************/
/*Dropdown styling*/
.dropdown {
    position: relative;
    display: inline-block;
    width: 50%;
}

/*Dropdown content styling*/
.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

/*Dropdown content text*/
.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

/*Dropdown content hover*/
.dropdown-content a:hover {
    background-color: #ddd;
}

/*Dropdown content styling hover*/
.dropdown:hover .dropdown-content {
    display: block;
}

/*Dropdown content hover styling for .dropbtn*/
.dropdown:hover .dropbtn {
    background-color: #a5aca5;
}

/*Hide the burger menu*/
.hide {
    display: none;
}

/*Removing the header socials + virtical line*/
@media(max-width: 1400px) {

    .header-social {
        display: none;
    }

    .vl {
        display: none;
    }

    .vl2 {
        display: none;
    }
}

/*Removing menu and tagline, burger menu*/
@media(max-width: 900px) {

    html,
    body {
        box-sizing: content-box;

    }

    .tagline {
        display: none;
    }

    .menu {
        display: none;

    }

    .logo {
        margin-left: 40%;
    }

    .hide {
        display: unset;
    }

}

/*Mobile and other smaller devices*/
@media(max-width: 600px) {

    html,
    body {
        box-sizing: content-box;
    }

    .first-p {
        display: none;
    }

    .second-p {
        display: unset;
    }


}